@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f9;
}

h1:focus {
    outline: none;
}

.nav-scrollable {
    background: linear-gradient(135deg, rgba(0, 181, 226, 1), rgba(26, 24, 22, 1)) !important;
    transition: all 0.3s ease-in-out;
}

a, .btn-link {
    color: #0071c1;
    transition: color 0.3s;
}

    a:hover, .btn-link:hover {
        color: #0056b3;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    transition: all 0.3s;
}

    .btn-primary:hover {
        background-color: #155a9c;
        border-color: #144c84;
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,...) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred.";
    }

.submenu {
    color: white !important;
    margin-left: 15px;
    padding-left: 10px;
    border-left: 2px solid #ddd;
    transition: all 0.3s ease-in-out;
}

    .submenu a, .submenu .nav-link {
        color: white !important;
        transition: color 0.3s;
    }

        .submenu a:hover, .submenu .nav-link:hover {
            color: #ddd !important;
        }

.nav-link.btn-toggle {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    transition: color 0.3s;
}

    .nav-link.btn-toggle:hover {
        color: #ddd !important;
    }

.logo-slider {
    width: 100%;
    overflow: hidden;
    background: white;
    padding: 5px 0;
    white-space: nowrap;
    position: relative;
}

.logo-track {
    display: flex;
    width: calc(120px * 8);
    animation: slide 12s linear infinite;
}

.logo {
    width: 100px;
    margin: 0 15px;
    transition: transform 0.3s ease-in-out;
}

    .logo:hover {
        transform: scale(1.1);
    }

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
